<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>정산닷컴</title>
    <style>
        @import url("css/login/style.css");
    </style>
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="register-form">
            <input type="text" placeholder="아이디"/>
            <input type="password" placeholder="비밀번호"/>
            <input type="text" placeholder="이메일 주소"/>
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
          </form>
          <form class="login-form">
            <input id="id" type="text" placeholder="아이디"/>
            <input id="pass" type="password" placeholder="비밀번호"/>
            <button id="login">login</button>
            <p class="message">Not registered? <a href="/register">Create an account</a></p>
          </form>
        </div>
      </div>

    <script src="js/login/login.js"></script>
</body>
</html>