<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>정산닷컴</title>
    <style>
        @import url("css/login/style.css");
    </style>
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="register-form">
            <input id="id" type="text" placeholder="아이디"/>
            <input id="name" type="text" placeholder="이름"/>
            <input id="pass" type="password" placeholder="비밀번호"/>
            <input id="confirm-pass" type="password" placeholder="비밀번호 확인"/>
            <p id="button">SIGN UP</p>
            <p class="message">Already registered? <a href="/login">Sign In</a></p>
          </form>
        </div>
      </div>

    <script src="js/login/register.js"></script>
</body>
</html>